In [11]:
import numpy as np 
import pandas as pd 
import json
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [12]:
df = pd.read_csv('headphone_search.csv', index_col= False)
df.drop(columns=['Unnamed: 0'], inplace= True)

In [13]:
df.head(2)

,title,url,rating,reviews,price,search_url
0,"Betron DC950HI Earbuds, Noise Isolating in Ear...",https://www.amazon.com/gp/slredirect/picassoRe...,4.2 out of 5 stars,"4,093",$12.99,https://www.amazon.com/s?k=Headphones&ref=nb_s...
1,"Bluetooth Headphones,Tuinyo Wireless Headphone...",https://www.amazon.com/gp/slredirect/picassoRe...,4.3 out of 5 stars,646,$23.99,https://www.amazon.com/s?k=Headphones&ref=nb_s...

In [14]:
df.to_sql('headphones', con=engine)

In [15]:
engine.execute("SELECT * FROM headphones LIMIT 10").fetchall()

[(0, 'Betron DC950HI Earbuds, Noise Isolating in Ear Headphones with Mic and Remote Control, Powerful Bass, Replaceable Ear Buds, Compatible with iPhone, iPad, Samsung and Tablets, Black', 'https://www.amazon.com/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_aps_sr_pg1_1?ie=UTF8&adId=A0728958TKAYVL2TQ51I&url=%2FBetron-Headphones-Earph ... (56 characters truncated) ... _1_sspa%3Fdchild%3D1%26keywords%3DHeadphones%26qid%3D1592489127%26sr%3D8-1-spons%26psc%3D1&qualifier=1592489126&id=8562620905501404&widgetName=sp_atf', '4.2 out of 5 stars', '4,093', '$12.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (1, 'Bluetooth Headphones,Tuinyo Wireless Headphones Over Ear with Microphone, Foldable & Lightweight Stereo Wireless Headset for Travel Work TV PC Cellphone- Rose Gold', 'https://www.amazon.com/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_aps_sr_pg1_2?ie=UTF8&adId=A0517968372YQIZ73FMVL&url=%2FBluetooth-Headphones-M ... (86 characters truncated) ... eywords%3DHeadphones%26qid%3D1592489127%26sr%3D8-2-spons%26psc%3D1%26smid%3DA10V9I5STRZ20E&qualifier=1592489126&id=8562620905501404&widgetName=sp_atf', '4.3 out of 5 stars', '646', '$23.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (2, '(2 Pack) Aux Headphones/Earbuds 3.5mm Wired Headphones Noise Isolating with Built-in Microphone & Volume Control Compatible with iPhone 6 SE 5S 4 iPod iPad Samsung/Android MP3', 'https://www.amazon.com/Headphones-Earbuds-Isolating-Microphone-Compatible/dp/B084MCQHWC/ref=sr_1_3?dchild=1&keywords=Headphones&qid=1592489127&sr=8-3', '3.9 out of 5 stars', '553', '$11.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (3, 'Sony MDRZX110/BLK  ZX Series Stereo Headphones (Black)', 'https://www.amazon.com/Sony-MDRZX110-BLK-Stereo-Headphones/dp/B00NJ2M33I/ref=sr_1_4?dchild=1&keywords=Headphones&qid=1592489127&sr=8-4', '4.3 out of 5 stars', '16,245', None, 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (4, 'PeohZarr On-Ear Headphones with Microphone, Lightweight Folding Stereo Bass Headphones with 1.5M Tangle Free Cord, Portable Wired Headphones for Smartphone Tablet Laptop Computer MP3/4', 'https://www.amazon.com/PeohZarr-Headphones-Microphone-Lightweight-Smartphone/dp/B07SHH37M6/ref=sr_1_5?dchild=1&keywords=Headphones&qid=1592489127&sr=8-5', '4.7 out of 5 stars', '5,422', '$13.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (5, 'Apple EarPods with Lightning Connector - White', 'https://www.amazon.com/Apple-EarPods-Lightning-Connector-White/dp/B01M0GB8CC/ref=sr_1_6?dchild=1&keywords=Headphones&qid=1592489127&sr=8-6', '4.4 out of 5 stars', '14,376', '$19.16', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (6, 'Vogek On Ear Headphones with Mic, Lightweight Portable Fold-Flat Stereo Bass Headphones with 1.5M Tangle Free Cord and Microphone-Black', 'https://www.amazon.com/Headphones-Lightweight-Portable-Fold-Flat-Microphone-Black/dp/B07MCCJ6VY/ref=sr_1_7?dchild=1&keywords=Headphones&qid=1592489127&sr=8-7', '4.5 out of 5 stars', '6,145', '$16.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (7, 'Panasonic ErgoFit In-Ear Earbud Headphones RP-HJE120K Dynamic Crystal-Clear Sound, Ergonomic Comfort-Fit, 9mm, Black', 'https://www.amazon.com/Panasonic-Headphones-RP-HJE120-K-Ergonomic-Comfort-Fit/dp/B003EM8008/ref=sr_1_8?dchild=1&keywords=Headphones&qid=1592489127&sr=8-8', '4.2 out of 5 stars', '73,502', '$10.21', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (8, '3 Packs Earbud Headphones with Remote & Microphone, SourceTon In Ear Earphone Stereo Sound Noise Isolating Tangle Free for iOS and Android Smartphones, Laptops, Gaming, Fits All 3.5mm Interface Device', 'https://www.amazon.com/Headphones-Microphone-SourceTon-Isolating-Smartphones/dp/B077ZYLMZV/ref=sr_1_9?dchild=1&keywords=Headphones&qid=1592489127&sr=8-9', '4.1 out of 5 stars', '2,901', '$9.99', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss'),
 (9, 'Koss KPH7 Lightweight Portable Headphone, Black', 'https://www.amazon.com/Koss-KPH7-Lightweight-Portable-Headphone/dp/B006T9ZKAQ/ref=sr_1_10?dchild=1&keywords=Headphones&qid=1592489127&sr=8-10', '3.9 out of 5 stars', '3,442', '$6.19', 'https://www.amazon.com/s?k=Headphones&ref=nb_sb_noss')]

In [32]:

userVitals = {"UserId":["xxxxx", "yyyyy", "zzzzz", "aaaaa", "bbbbb", "ccccc", "ddddd"],

            "UserFavourite":["Greek Salad", "Philly Cheese Steak", "Turkey Burger", "Crispy Orange Chicken", "Atlantic Salmon", "Pot roast", "Banana split"],

            "MonthlyOrderFrequency":[5, 1, 2, 2, 7, 6, 1],

            "HighestOrderAmount":[30, 20, 16, 23, 20, 26, 9],

            "LastOrderAmount":[21,20,4,11,7,7,7],

            "LastOrderRating":[3,3,3,2,3,2,4],

            "AverageOrderRating":[3,4,2,1,3,4,3],

            "OrderMode":["Web", "App", "App", "App", "Web", "Web", "App"],

            "InMedicalCare":["No", "No", "No", "No", "Yes", "No", "No"]};

 

tableName   = "UserVitals"

dataFrame   = pd.DataFrame(data=userVitals)           

 

sqlEngine = create_engine('mysql+pymysql://root:Host!98342@127.0.0.1/dbname', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

#sqlEngine.execute("CREATE DATABASE dbname") #create db
#sqlEngine.execute("USE dbname") # select new db


try:

    frame = dataFrame.to_sql(tableName, dbConnection, if_exists='fail')

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."%tableName);   

finally:

    dbConnection.close()

Table UserVitals created successfully.

In [26]:
dataFrame

  UserId          UserFavourite  MonthlyOrderFrequency  HighestOrderAmount  LastOrderAmount  LastOrderRating  AverageOrderRating OrderMode InMedicalCare
0  xxxxx            Greek Salad                      5                  30               21                3                   3       Web            No
1  yyyyy    Philly Cheese Steak                      1                  20               20                3                   4       App            No
2  zzzzz          Turkey Burger                      2                  16                4                3                   2       App            No
3  aaaaa  Crispy Orange Chicken                      2                  23               11                2                   1       App            No
4  bbbbb        Atlantic Salmon                      7                  20                7                3                   3       Web           Yes
5  ccccc              Pot roast                      6                  26                7                2                   4       Web            No
6  ddddd           Banana split                      1                   9                7                4                   3       App            No

In [25]:

from sqlalchemy import create_engine

import pymysql

import pandas as pd

 

sqlEngine       = create_engine('mysql+pymysql://root:Host!98342@127.0.0.1', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

frame           = pd.read_sql("select * from organisation.departments", dbConnection);

 

pd.set_option('display.expand_frame_repr', False)

print(frame)

 

dbConnection.close()

dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales